﻿@model List<ListsDemoApp.Models.FooModel>

<script type="text/javascript">
    @* Method 1: the string has already been serialised in the viewbag *@
    var dddddd =  @Html.Raw(ViewBag.dddString);

    @* Method 2: serialising the list inside the view *@
    var dddddd =  @Html.Raw(Json.Encode(ViewBag.dddList));

    @* Method 3: serialising the list inside the view, using a model *@
    var dddddd =  @Html.Raw(Json.Encode(Model));


    console.log(dddddd);

</script>